certifi==2026.2.25
charset-normalizer==3.4.7
feedparser==6.0.12
idna==3.11
numpy==2.4.4
pandas==3.0.2
python-dateutil==2.9.0.post0
requests==2.33.1
sgmllib3k==1.0.0
six==1.17.0
typing_extensions==4.15.0
tzdata==2026.1
urllib3==2.6.3
win11toast==0.36.3
winrt-runtime==3.2.1
winrt-Windows.Data.Xml.Dom==3.2.1
winrt-Windows.Foundation==3.2.1
winrt-Windows.Foundation.Collections==3.2.1
winrt-Windows.Globalization==3.2.1
winrt-Windows.Graphics.Imaging==3.2.1
winrt-Windows.Media.Core==3.2.1
winrt-Windows.Media.Ocr==3.2.1
winrt-Windows.Media.Playback==3.2.1
winrt-Windows.Media.SpeechSynthesis==3.2.1
winrt-Windows.Storage==3.2.1
winrt-Windows.Storage.Streams==3.2.1
winrt-Windows.UI.Notifications==3.2.1
